JWT_ACCESS_SECRET=your-super-secret-jwt-access-key-256-bits-long
JWT_REFRESH_SECRET=your-super-secret-jwt-refresh-key-different-from-access
ACCESS_TOKEN_EXPIRES=15m
REFRESH_TOKEN_EXPIRES=7d
MONGO_URI=mongodb+srv://<Enter-the-user>_db_user:hOUPJo8wS0JcWc4F@authtable.zjplwvb.mongodb.net/?appName=authTabledb
PORT=5000
WEB_URL=http://localhost:3000